@font-face {
    font-family: "font-regular";
    src: url("/font-regular.otf");
}

header {
    font-family: "font-regular";
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 999;
    background: transparent;
}

.nav {
    margin-left: 4.5vh;
    display: flex;
    gap: 4vh;
    text-decoration: underline;
    letter-spacing: -.05rem;
    font-size: 4vh;
    transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.elem {
    position: relative;
    display: inline-block;
    transition: background-position .4s ease;
    background-image: linear-gradient(to right, #ffffff 0%, #fff 50%, #646cff 51%, #646cff 100%);
    background-repeat: no-repeat;
    background-size: 200% 200%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.elem:hover {
    background-position: 100% 0;
    transition: background-position .3s ease-in-out;
    color: transparent;
}

.contact {
    margin-left: auto;
    margin-right: 4vh;
    font-size: 3vh;
    padding: 1.6vh 4vh;
    font-weight: 600;
    font-family: "font-regular";
    border: 2px solid #fff;
}